p {
  font-size: 1rem;
}

th {
  font-size: 1rem;
}

td {
  font-size: 1rem;
}

.header_text:link, .header_text:visited, .header_text:active,
  .header_text:hover, .header_text:focus, .header_text {
  color: var(--headercolor, #006699);
  font-size: 2rem;
  margin-left: 8px;
  font-weight: normal;
  font-family: Aller, Verdana, Arial, Tahoma, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

.header_text_small:link, .header_text_small:visited, .header_text_small:active,
  .header_text_small:hover, .header_text_small:focus {
  color: var(--headercolor, #006699);
  font-size: 1.2rem;
  padding-left: 10px;
  font-weight: normal;
  text-decoration: none;
  font-family: Aller, Verdana, Arial, Tahoma, Helvetica, sans-serif;
}

.seasonnav:link, .seasonnav:visited {
  font-weight: bold;
  text-align: center;
  color: var(--bgcolor, #ffffff);
  text-decoration: underline;
  text-transform: uppercase;
  display: block;
}

.seasonnav:active, .seasonnav:hover, .seasonnav:focus {
  text-decoration: none;
  font-weight: normal;
}

.seasondropdown {
  font-size: 1.1rem;
}

.nav:link, .nav:visited {
  font-size: 1rem;
  font-weight: bold;
  padding: 2px;
  color: var(--navlinkcolor, #2d2d2d);
  background-color: var(--navlinkbgcolor, inherit);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}

.nav:active, .nav:hover, .nav:focus {
  text-decoration: none;
  color: var(--hnavlinkcolor, #000000);
  background-color: var(--hnavlinkbgcolor, #d3d3d3);
}

.subnav, .subnav:link, .subnav:visited {
  font-size: 1rem;
  padding-top: 2px;
  padding-left: 2px;
  color: var(--navlinkcolor, #2d2d2d);
  background-color: var(--navlinkbgcolor, inherit);
  text-decoration: none;
  display: block;
}

.subnav:active, .subnav:hover, .subnav:focus {
  text-decoration: underline;
  color: var(--hnavlinkcolor, #000000);
  background-color: var(--hnavlinkbgcolor, #d3d3d3);
}

.navpoollink, .navpoollink:link, .navpoollink:visited {
  font-size: 1rem;
  padding-left: 1ex;
  color: var(--navlinkcolor, #2d2d2d);
  background-color: var(--navlinkbgcolor, inherit);
  text-decoration: none;
  display: block;
}

.navpoollink:active, .navpoollink:hover, .navpoollink:focus {
  text-decoration: underline;
  color: var(--hnavlinkcolor, #000000);
  background-color: var(--hnavlinkbgcolor, #d3d3d3);
}

.breadcrumbs_text {
  color: var(--breadcrumbscolor, #000000);
}

.menuseasonlevel {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: var(--thcolor, #ffffff);
  background-color: var(--thbgcolor, #006699);
}

.menuserieslevel {
  font-size: 1.1rem;
  font-weight: bold;
}

.menuserieslevel.invalid {
  font-style: italic;
  filter: brightness(80%);
}

.menupoollevel {
  font-size: 1.1rem;
}

ul.pagemenu {
  list-style-type: none;
  position: relative;
  width: 100%;
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0px;
  padding: 0px;
}

table.pagemenu {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0px;
}

ul.pagemenu li {
  display: block;
  float: left;
  margin: 0 0 2px 4px;
  background: var(--shadecolor, #ffffff);
}

ul.pagemenu li.left {
  margin: 0;
}

table.pagemenu th {
  background: var(--shadecolor, #ffffff);
}

.pagemenu a {
  display: block;
  float: left;
  color: var(--navlinkcolor, #2d2d2d);
  background-color: var(--navlinkbgcolor, #acd1e9);
  text-decoration: none;
  padding: 3px 4px 4px 4px;
}

ul.pagemenu li a.right {
  padding-right: 19px;
}

.pagemenu a:hover {
  color: var(--hnavlinkcolor, #000000);
  background-color: var(--hnavlinkbgcolor, #d3d3d3);
  text-decoration: underline;
  padding: 3px 3px 3px 3px;
  border-left: 1px solid var(--hardbordercolor, #333);
  border-right: 1px solid var(--hardbordercolor, #333);
  border-top: 1px solid var(--hardbordercolor, #333);
}

.pagemenu a.current {
  color: var(--navcurrentlinkcolor, #2d2d2d);
  background-color: var(--navcurrentbgcolor, #fff);
  text-decoration: underline;
  padding: 3px 3px 3px 3px;
  border-left: 1px solid var(--hardbordercolor, #333);
  border-right: 1px solid var(--hardbordercolor, #333);
  border-top: 1px solid var(--hardbordercolor, #333);
}

.thlink, .thlink:link, .thlink:visited {
  color: var(--thlinkcolor, #ffffff);
  text-decoration: underline;
}

.thlink:active, .thlink:hover, .thlink:focus {
  color: var(--thhlinkcolor, #996699);
  text-decoration: none;
}

.topheadertext {
  color: var(--headercolor, #000000);
  background-color: var(--bgcolor, #ffffff);
  padding: 1px;
}

.topheaderlink, .topheaderlink:link, .topheaderlink:visited {
  color: var(--linkcolor, #000000);
  text-decoration: underline;
}

.topheaderlink:active, .topheaderlink:hover, .topheaderlink:focus {
  color: var(--hlinkcolor, #986598);
  text-decoration: none;
}

.highlight {
  background-color: var(--shadecolor, #d7c2ee);
}

.attention {
  background-color: var(--attentioncolor, #ffb6c1);
}

.lowlight {
  color: var(--lowlightcolor, #a0a0a0);
}

.byename {
  color: var(--lowlightcolor, #a0a0a0);
  font-style: italic;
}

.schedulingname {
  font-style: italic;
}

/* .teamname { */
  
/* } */

.winner {
  font-weight: bold;
}

.list_letter {
  color: var(--fgcolor, #000000);
  font-size: 1.2rem;
  line-height: 12pt;
  font-weight: bold;
  text-transform: uppercase;
}

.selectable_highlight {
  background-color: #A6C7E9;
  cursor: pointer;
  font-weight: bold;
}

.callahan {
  color: var(--fadecolor, #e0e0e0);
}

.warning {
  color: var(--warning, #ff0000);
}

.home {
  color: var(--homecolor, #ffffff);
  background-color: var(--homebgcolor, #986598);
}

.guest {
  color: var(--guestcolor, #ffffff);
  background-color: var(--guestbgcolor, #00aaaa);
}

.mediaevent {
  width: 14px;
  height: 14px;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
}

.homefontcolor {
  color: var(--homebgcolor, #99ccff);
}

.guestfontcolor {
  color: var(--guestbgcolor, #ef7a7a);
}

.halftime {
  background-color: var(--tablelowlightcolor, #cccccc);
  color: var(--fgcolor, #000000);
  font-weight: bold;
  text-align: center
}

.infocell {
  color: var(--fgcolor, #000000);
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  font-variant: small-caps;
  vertical-align: top;
}

.headerlink {
  color: var(--fgcolor, #000000);
  font-size: 1.1rem;
  text-align: left;
  text-decoration: none;
  font-weight: bold;
  vertical-align: bottom;
  font-variant: small-caps;
}

.groupinglink:link, .groupinglink:visited {
  color: var(--navlinkcolor, #2d2d2d);
  background-color: var(--navlinkbgcolor, inherit);
  text-decoration: underline;
  font-weight: bold;
  font-variant: small-caps;
  padding: 0px 5px 0 5px;
}

.groupinglink:hover, .groupinglink:focus {
  color: var(--navhlinkcolor, #986598);
  background-color: var(--navhlinkbgcolor, inherit);
  text-decoration: none;
  font-weight: bold;
}

.selgroupinglink {
  color: var(--currentgroupinglinkcolor, #986598);
  text-decoration: none;
  font-weight: bold;
  vertical-align: bottom;
  font-variant: small-caps;
}

.profileheader {
  font-weight: bold;
}

.dbrow {
  font-size: 1.1rem;
}

.timezone {
  color: var(--fadedfgcolor, #a0a0a0);
  font-style: italic;
}

.guides {
  font-style: italic;
  font-size: .8rem;
  text-align: center;
  vertical-align: middle;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
  white-space: nowrap;
}