body {
  width: fit-content;
  width: fit-content(80em);
  max-width: 80em;
  min-width: min-content;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  padding: 8px;
  border: 1px solid var(--hardbordercolor, #333);
  background-color: var(--bgcolor, #ffffff);
}

.mobile_page {
  /*max-width: 30em;*/
  border: 1px solid var(--hardbordercolor, #333);
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0em;
  padding-bottom: 1em;
  background-color: var(--bgcolor, #ffffff);
}

.main_page.print {
  width: 100%;
}

.main_page {
  border: 1px solid var(--bgcolor, #ffffff);
  background-color: var(--bgcolor, #ffffff);
}

/* PAGE LAYOUT */

.page {
  display: flex;
  flex-flow: row wrap;
}

header {
  display: flex;
  flex-flow: row wrap; 
}

.topheader_left {
  flex: 1 100%  
}

.topheader_right {
  flex: 1 100%  
}

.breadcrumbs {
  flex: 1 0 90%;
}

#menu_toggle, #show_menu_link, #hide_menu_link {
  flex: 0 0 0%;
}

aside, main, footer {
  flex: 1 100%;
}

#show_menu_link {
  display: block;
}

#menu_toggle, #hide_menu_link {
  display: none;
}

*.page_menu {
  border: none;
  background: none;
  padding: 0;
}

div.hamburger {
  padding: .3em .3em .3em .3em;
  height:1.8em;
  width:1.8em;
}

div.hamburger_inner {
    content: "";
    display: block;
    width: 1.5em;
    height: 0;
    -webkit-box-shadow: .05em .3em .05em .05em #69737d,.05em .9em .05em .05em #69737d,.05em 1.5em .05em .05em #69737d;
    box-shadow: 0 .3em 0 .1em #69737d,0 .9em 0 .1em #69737d,0 1.5em 0 .1em #69737d;
}

.menu_left {
  display: none;
}

#show_menu_link {
  display: inline;
}

#hide_menu_link {
  display: none;
}

@media all and (min-width: 35em) {
  .topheader_left {
    flex: 1 0%
  }
  .topheader_right {
    flex: 1 0%
  }
  
  aside {
    flex: 0 1 0%;
  }
  
  main {
    flex: 2 1 0%;
  }
}

.page {
  gap: .5em;
}

@media all and (min-width: 45em) {
  .menu_left {
    display: block;
  }
  #show_menu_link {
    display: none;
  }
  #hide_menu_link {
    display: block;
  }

}

.hidden {
  display: none !important;
}

.shown_block {
  display: block !important;
}

.page_top {
  width: 100%;
  padding: 0px;
  padding-right: 0px;
  padding-bottom: 2px;
  border-bottom: 1px dashed var(--hardbordercolor, #333);
  background-color: var(--topshadecolor, inherit);
}

.page_middle {
  width: 100%;
  clear: both;
}

.page_bottom {
  width: 100%;
}

.breadcrumbs {
  background-color: var(--breadcrumbsbgcolor, inherit);
  margin-left: .5em;
}

.header_logo {
  height: 2em;
}

.logo {
  border: 0;
  vertical-align: middle;
  text-align: center;
  width: 15em;
  /*height:114px;*/
  margin: 5px 0px 5px 0px;
}

.menu_left {
  vertical-align: top;
  /*width: 15em;*/
}

.leftmenulinks {
  /*width: 100%;*/
  width: 15em;
  /*float: left;*/
  text-align: left;
  vertical-align: top;
  background-color: var(--shadecolor, #acd1e9);
  border-top: solid var(--lightbordercolor, #eeeedd) 1px;
  border-bottom: solid var(--softbordercolor, #464646) 1px;
  border-left: solid var(--lightbordercolor, #eeeedd) 1px;
  border-right: solid var(--softbordercolor, #464646) 1px;
  margin-top: .5em;
}

.leftmenulinks:first-of-type {
  margin-top: 0em;
}

.leftmenulinks th {
  padding: 4px 3px 4px 3px;
}

.leftmenulinks tr td {
  padding: 1px 3px 3px 2px;
}

.topheader_right {
  /*background-image: url("header_right.jpg");*/
  /*background-repeat:repeat-x;*/
  vertical-align: top;
  padding-top: 0px;
}

.seasondropdown {
  width: 100%;
  color: var(--fgcolor, #004466);
  background-color: var(--hishadecolor, #eeeeee);
  border-top: solid var(--lightbordercolor, #eeeedd) 1px;
  border-bottom: solid var(--softbordercolor, #464646) 1px;
  border-left: solid var(--lightbordercolor, #eeeedd) 1px;
  border-right: solid var(--softbordercolor, #464646) 1px;
}

.tdcontent {
  padding-left: 1.5ex;
}

.content {
  /*width: 60em;*/
  height: 100%;
  margin: 0px;
  padding-left: 0px;
  background-color: var(--bgcolor, #ffffff);
}

.nomenu {
  /*width: 80em;*/
}

.backlink {
  text-align:left;
  float:left;
  clear:left;
  color: var(--fadedfgcolor, #333);
}

.printlink {
  text-align: right;
  color: var(--fadedfgcolor, #333);
}

.menuseparator {
  border-bottom: 1px dotted var(--headercolor, #333);
}

.checkbox {
  font-size: 1rem;
  padding: 1px;
  margin: 1px;
}

.pagemenu_container {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.grouping_container {
  padding: 3px 0px 5px 3px;
}

select {
  min-width: 5em;
}

td.scoreinput {
  border: 1px solid var(--fgcolor, #000000);
  background-color: var(--shadecolor, #acd1e9);
}

td.scoreinput.bleft {
  border-right: 1px dashed var(--lightbordercolor, #e0e0e0);
}

td.scoreinput.bmid {
  border-left: 1px dashed var(--lightbordercolor, #e0e0e0);
  border-right: 1px dashed var(--lightbordercolor, #e0e0e0);
}

td.scoreinput.bright {
  border-left: 1px dashed var(--lightbordercolor, #e0e0e0);
}

.fakeinput {
  color: var(--fadedfgcolor, #000000);
  background-color: var(--bgcolor, #ffffff);
  border: 0;
}

.helpbutton {
  width: 2em;
  height: 2em;
}

.deletebutton {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 1px solid var(--bgcolor, #ffffff);
}

.deletebutton:hover {
  border: 1px solid var(--headercolor, #006);
}

.dropdown {
  font-size: 1rem;
  width: auto;
}

.widetable {
  width: 100%;
}

.admintable {
  width: 100%;
}

.transfertable input {
  max-width:2em;
}

.admintable+.admintable {
  margin-top: 5px;
}

.infotable+.infotable {
  margin-top: 5px;
}

.infotable td {
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.infotable th {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
}

.infotable td+td {
  padding-left: 5px;
}

.infotable th+th {
  padding-left: 5px;
}

.contenttable td+td {
  padding-left: 5px;
}

.contenttable tr+tr {
  padding-top: 5px;
}

form table td+td {
  padding-left: 3px;
}

form table th+th {
  padding-left: 3px;
}

.posvalue td {
  color: var(--posvaluecolor, #2f5721);
}

.negvalue td {
  color: var(--negvaluecolor, #6b1a1a);
}

tr.rankingtop, td.rankingtop {
  font-weight: bold;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-bottom-color: var(--lightbordercolor, #e0e0e0);
}

tr.ranking, td.ranking {
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-bottom-color: var(--lightbordercolor, #e0e0e0)
}

.localeselection {
  border: 1px solid var(--fgcolor, #000);
  height: 1em;
}

yuicalendar.table {
  font-size: small;
}

.calweekdaycell {
  background-color: var(--bgcolor, #ffffff);
}

.calheader {
  color: var(--calheadercolor, #006699);
}

.twitter-list {
  margin: 0 0 15px 15px;
  padding: 0;
  list-style-type: none;
}

.twitter-list li {
  margin: 0 0 10px 0;
  padding: 0;
  list-style-type: none;
}

.twitter-list li a {
  padding: 0 0 0 19px;
  background: url("../../images/linkicons/twitter_14x14.png") no-repeat 0
    50%;
}

.feed {
  margin-left: 3px;
  padding: 0 0 0 19px;
  background: url("../../images/linkicons/feed_14x14.png") no-repeat 0 50%;
}

.feed-list {
  margin: 0 0 15px 15px;
  padding: 0;
  list-style-type: none;
}

.feed-list li {
  margin: 0 0 10px 0;
  padding: 0;
  list-style-type: none;
}

.feed-list li a {
  padding: 0 0 0 19px;
  background: url("../../images/linkicons/feed_14x14.png") no-repeat 0 50%;
  list-style-type: none;
}

.tablelowlight {
  background-color: var(--tablelowlightcolor, #e0e0f0);
}

.flag {
  border-collapse: collapse;
  border: 1px solid var(--fgcolor, #fff);
}


select.series_select {
  width: 35em;
  max-height: 15em;
}

div.workarea {
  padding: 0px;
  float: left;
  min-width: 15em;
  /* min-width:150px; */
}

/* scheduling */
table.scheduling {
  margin: 0px;
}

td.scheduling_column, td.time_column {
  vertical-align: top;
  padding: 0px;
  font-size: .8rem;
}

table.scheduling .dropdown {
  width:16em;
}

ul.draglist, ol.draglist, ul.time_list, select.series_select {
  font-size: .8rem;
  position: relative;
  border: 1px solid var(--softbordercolor, #464646);
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.draglist, ol.draglist, select.series_select {
  background-color: var(--draglistcolor, #f7f7f7);
  width: 20em;
}
 
ul.draglist li, ol.draglist li, ul.time_list li {
  cursor: move;
  text-align: center;
  vertical-align: middle;
  border: 1px solid var(--draglistbordercolor, #7ea6b2);
  margin: -1px;
}

ul.draglist li, ol.draglist li {
  background-color: var(--draglistitemcolor, #d1e6ec);
}

ul.draglist li.negative, ol.draglist li.negative {
  margin: 0px;
  cursor: move;
  text-align: center;
  vertical-align: middle;
  background-color: var(--draglistalarmbgcolor, #ff0000);
  color: var(--draglistalarmcolor, #ffffff);
  border: 1px solid var(--draglistbordercolor, #7ea6b2);
}

li.schedule_item {
  background-color: var(--scheduleitemcolor, #aaaaaa);
  border: 1px solid var(--draglistbordercolor, #7ea6b2);
}

th.scheduling {
  width: 15em;
}

td.timecolumn {
  vertical-align: top;
}

ul.timelist {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.timelist li {
  border: 1px solid var(--draglistbordercolor, #7ea6b2);
}

/* poll */
table.poll_options td {
  max-width: 15em;
  overflow-wrap:anywhere;
  word-break: normal;
}

table.poll_vote {
  margin: 0px;
}

table.poll_vote td.score {
  text-align: center;
}

table.poll_vote td.score, table.poll_vote th.score {
  text-align: center;
}

table.ranking td.details {
  max-width: 20em;
}

span.rank_item_name {
  font-weight: bold;
}

span.rank_item_mentor {
  font-style: italic;
}

table.ranking td {
  min-width: 1em;
}

table.ranking th {
  min-width: 1em;
}

table.ranking th.sorter {
  text-decoration: underline;
}

table.ranking td.sorter {
  font-weight: bold;
}

table.ranking, table.ranking + form {
  margin-bottom: 1em;
}

.poll_description {
  margin-bottom: 1em;
}

.radioselect * {
  vertical-align: middle;
}

div.tabular {
  display: table;
}

div.tabrow {
  display: table-row;
}

div.tabcell {
  display: table-cell;
}

.colorcontainer {
  background-color: var(--hishadecolor, #eeeeee);
  position: relative;
  padding: 6px;
  width: 300px;
  height: 180px;
}

.map_container {
  font-family: Arial, sans-serif;
  font-size: 1.1rem;
  border: 1px solid var(--hardbordercolor, black);
}

.map_container td.sidebar {
  vertical-align: top;
}

.map_container td.sidebar div.sidebar {
  overflow: auto;
  width: 18em;
  height: 35em;
  font-size: 1.1rem;
  color: var(--fgcolor, #000);
}

.map_container div.map {
  overflow: hidden;
  width: 45em;
  height: 45em;
}

#map {
  width: 100%;
  height: 35em;
  font-family: Arial, sans-serif;
  font-size: 11px;
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.addremove {
  display: flex;
  flex-flow: row wrap;
}

.addremove div.arleft, div.arright {
  flex: 1 1 30%;
}

.addremove div.arbuttons {
  flex: 0 0 5%;
  padding-left: 1ex;
  padding-right: 1ex; 
}

.addremove div.arbuttons input {
  width:100%;
}

.addremove>div>select {
  width: 100%;
  min-width: 10em;
  min-height: 15em;
}

.addremove>div>p {
  width: 100%;
  min-width: 10em;
}