.header_text:link, .header_text:visited, .header_text:active,
  .header_text:hover, .header_text:focus, div.header_text {
  font-size: 2.2em;
}


.menuseasonlevel {
  background: var(--thbgcolor, #2d2d2d) url(../cust/gummis/nav.png) no-repeat center;
}

.selgroupinglink {
  text-align: left;
}