.page {
  width: 998px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  padding: 8px;
  border: 1px solid var(--hardbordercolor, #333);
  background-color: var(--bgcolor, #ffffff);
}

.page_top {
  width: 100%;
  padding: 0px;
  padding-right: 0px;
  height: 60px;
  border-bottom: 1px dashed var(--hardbordercolor, #333);
  background-color: var(--topshadecolor, inherit);
}

.content {
  width: 785px;
  height: 100%;
}

.nomenu {
  width: 965px;
}

.breadcrumbs {
  margin-left: 1px;
}

.infotable td {
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.header_logo {
  height: 60px;
}

/*
.leftmenulinks {
  background-color: var(--shadecolor, #acd1e9);
}
*/
