@font-face {
  font-family: Aller;
  src: url(../cust/dfv/Aller_Rg.ttf);
  font-weight: normal;
}

.header_text:link, .header_text:visited, .header_text:active,
  .header_text:hover, .header_text:focus, .header_text {
  font-size: 2rem;
  font-family: Aller, Verdana, Arial, Tahoma, Helvetica, sans-serif;
}
