.leftmenulogo {
  display: none;
}

#map {
  width: 100%;
  height: 35em;
  font-family: Arial, sans-serif;
  font-size: 11px;
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
}
